main {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  flex-wrap: wrap;
}

section {
  margin: 1rem 1rem 1rem 0;
  width: 100%;
  min-width: 500px;
  max-width: max(500px, 40vw);
}

[id^="tip_heading_goes_here"]:after {
  content: " (click to expand/collapse)";
  font-style: italic;
  font-size: 0.85em;
  color: lime;
}

summary {
  display: block;
  max-width: 90vw;
  padding: 1rem;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:hover {
  background: lime;
  color: black;
}

details {
  max-width: 100vw;
}

details > p {
  height: 0;
  transition: height 0.5s;
  margin: 0 0 4rem;
  max-width: 90vw;
}

details[open] > p {
  height: 30vh;
  overflow: auto;
  border-bottom: 3px solid lime;
}

details[open] *:not(summary) {
  background: black;
}

details > p > * {
  padding: 1rem;
}

[id^="tip_details_go_here"] > * {
  max-width: 60ch;
}

details[open] > p {
  animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-down {
  from {
    height: 0;
  }
}

summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}
